# 0 Mise en place des fonctions de travail

In [1]:
import random

def generate_random_array(debug=False, N=21):
    """Renvoie un tableau contenant toutes les valeurs entières de 0 (inclus)
    à N (exclus) rangées dans un ordre aléatoire

    Args:
        debug (boolean): quand debug est vrai, la fonction renvoie toujours le
                         même tableau afin de simplifier le débogage de vos
                         algorithmes de tri
        N (int): la taille du tableau à renvoyer

    Returns:
        list[int]: un tableau d'entiers, de taille N, non ordonné
    """

    if debug:
        return [3, 9, 7, 1, 6, 2, 8, 4, 5, 0]

    array = list(range(0, N))
    random.shuffle(array)

    return array

In [2]:
# Exemple d'utilisation de la fonction precedente

print(generate_random_array()) # Retourne un tableau avec des nombres naturels allant de 0 a 20
print(generate_random_array(True)) # Retourne le tableau [3, 9, 7, 1, 6, 2, 8, 4, 5, 0]
print(generate_random_array(N=31)) # Des nombres naturels allant de 0 a 30

[0, 15, 19, 18, 14, 13, 2, 8, 4, 5, 17, 12, 9, 10, 16, 1, 6, 7, 3, 11, 20]
[3, 9, 7, 1, 6, 2, 8, 4, 5, 0]
[16, 29, 13, 7, 18, 23, 3, 5, 20, 26, 1, 30, 6, 17, 28, 22, 21, 19, 10, 14, 12, 24, 27, 25, 2, 11, 4, 0, 9, 8, 15]

In [3]:
def swap(tab, i, j):
    """Échange la place des éléments aux indices i et j du tableau"""
    tab[i], tab[j] = tab[j], tab[i]

# 1 Les tris classiques

## 1.1 Tri à bulles

**Un pseudocode possible** *(source : Wikipedia)*

```
procedure tri_à_bulles(Tableau T)
   pour i allant de (taille de T)-1 à 1
       pour j allant de 0 à i-1
           si T[j+1] < T[j] alors
               échanger(T[j+1], T[j])
       fin pour
   fin pour
        
```

In [4]:
def bubble(A):
    """Trie le tableau en déplaçant les plus grosses valeurs vers la fin du
    tableau, un peu comme des bulles dans l'eau qui remonteraient à la
    surface"""

    n = len(A)
    for i in range(n):
        for j in range(0, n-i-1):
            if A[j] > A[j+1]:
                swap(A, j, j+1)
    return A

In [5]:
bubble(generate_random_array())

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

## 1.2 Insertion

**Un pseudocode possible** *(source : Wikipedia)*

```
procédure tri_insertion(tableau T, entier n)

  pour i de 1 à n - 1
        # mémoriser T[i] dans x
        x ← T[i]                            

        j ← i                               
        tant que j > 0 et T[j - 1] > x
                 T[j] ← T[j - 1]
                 j ← j - 1

        # placer x dans le "trou" laissé par le décalage
        T[j] ← x 
```

In [6]:
def insertion(A):
    """Trie le tableau en plaçant l'élément courant à la bonne place dans
    le sous-tableau déjà trié"""
    
    n = len(A)
    for i in range(1, n):
        key = A[i]
        j = i
        while j > 0 and A[j-1] > key:
            A[j] = A[j-1]
            j -= 1
        A[j] = key
    return A

In [7]:
insertion(generate_random_array())

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

## 1.3 Selection

**Un pseudocode possible** *(source : Wikipedia)*

```
procédure tri_selection(tableau t, entier n)
  pour i de 0 à n - 2
      min ← i       
      pour j de i + 1 à n - 1
          si t[j] < t[min], alors min ← j
      fin pour
      si min ≠ i, alors échanger t[i] et t[min]
  fin pour
fin procédure
```

In [8]:
def selection(A):
    """Trie le tableau en cherchant le plus petit élément à mettre dans la
    première case, puis le second plus petit à mettre dans la seconde case,
    etc"""
    
    n = len(A)
    for i in range(n):
        min_index = i
        for j in range(i+1, n):
            if A[j] < A[min_index]:
                min_index = j
        swap(A, i, min_index)
    return A

In [9]:
selection(generate_random_array())

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]